rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{user=**}/{itemID} {
      allow read, write: if
          true;
      allow create: if request.resourse.data.Name is string;
    }
  }
}